




<div class="col-sm-10 haris pt-1">
  <h1> Signup Request</h1>

    <table id="stocktable" table datatable class="ml-2 mt-6   table-striped table-bordered" style="width:98%" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
      <thead>
        <tr>
          
        <th>User Name</th>    
        <th>Role</th>
        <th>User Email</th>
          
        <th>Actions</th>
    
          
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let u of userDataList">
          
        <td>{{u.username}}</td>
        <td>{{u.usertype}}</td>
        <td>{{u.email}}</td>

            <td>
             
            <button type="button"    class="btn btn-sm btn-danger fa fa-window-close" data-target="#delauth" (click)="del(u)" data-toggle="modal"  > </button>
             
              <button type="button" class="btn btn-sm btn-success fa fa-check " (click)="onSignup(u)"   ></button>
         
            </td>
          </tr>
         
      </tbody>
    </table>
  
  
  
  </div>
  


      
  <div class="modal fade bd-example-modal-sm" id="delauth" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
       
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal" id='cl7' aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h5>Are you sure you want to reject this request?</h5>
          <button type="button" class="btn btn-sm btn-success"  (click)="deleteRow()">Yes</button>
          <button type="button" class="btn btn-sm btn-danger" (click)='c()'>No</button>
        </div>
      </div>
    </div>
  </div>




























